* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#eafaff), to(#003b9a));
  background: linear-gradient(0deg, #eafaff, #003b9a);
  margin-bottom: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(#003b9a), to(#eafaff));
  background: linear-gradient(0deg, #003b9a, #eafaff);
  height: 220px;
}

.topfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lowfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100px;
  margin-left: 50px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.burger__line1,
.burger__line2,
.burger__line3 {
  margin: 0 auto;
  padding: 0;
  height: 3px;
  width: 25px;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.change .burger__line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(300deg) translate(-5px, 3px);
}

.change .burger__line2 {
  opacity: 0;
}

.change .burger__line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #eafaff;
}

.main__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eafaff;
}

.main-content {
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__title {
  text-align: center;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 100%;
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
}

.about {
  max-width: 1600px;
  padding: 5px;
  margin: 10px 15px;
}

.about__text {
  text-align: justify;
}

.news {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.news__short {
  width: calc((100% - 100px) / 2);
  margin: 0 0 15px 0;
  border: 1px solid black;
  padding: 5px;
}

.news__short a {
  color: #85e4ff;
  opacity: 80%;
  text-decoration: none;
}

.news__full {
  width: calc((100% - 100px) / 1);
  margin: 0 0 15px 0;
  border: 1px solid black;
  padding: 5px;
}

.advertising {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.adv {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.news-page {
  margin: 15px;
  max-width: 1600px;
}

.news__title {
  text-align: center;
}

.news__img {
  float: left;
  margin: 7 7 7 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 250px;
}

.news__text p {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.news__text a {
  color: #fff;
  text-decoration: none;
}

.button-news {
  margin: 10px;
  padding: 8px 10px;
  border: #85e4ff solid 2px;
  background-color: rgba(41, 121, 248, 0.618);
  border-radius: 8px 10px;
  cursor: pointer;
}

.contacts {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */