* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 220px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgb(234, 250, 255), rgb(0, 59, 154));
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(0, 59, 154), rgb(234, 250, 255));
    height: 220px;
}
.topfooter {
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.lowfooter {
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.logotype {
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.burger {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.burger__line1,
.burger__line2,
.burger__line3 {
    margin: 0 auto;
    padding: 0;
    height: 3px;
    width: 25px;
    background-color: #000;
    transition: 0.4s;
}
.change .burger__line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(300deg) translate(-5px, 3px);
}

.change .burger__line2 {
    opacity: 0;
}

.change .burger__line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.main {
    display: flex;
    justify-content: space-evenly;
}
.main__title {
    text-align: center;
}
.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 100%;
    font-size: 20px;
}

.sidebar a {
    text-decoration: none;
}
.about {
    max-width: 1600px;
    padding: 5px;
    margin: 10px 15px;
}

.about__text {
    text-align: justify;
}

.news {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 20px;
    flex-grow: 1;
}

.news__short {
    width: calc((100% - 100px) / 2);
    margin: 0 0 15px 0;
    border: 1px solid black;
    padding: 5px;
}

.news__short a {
    color: #85e4ff;
    opacity: 80%;
    text-decoration: none;
}

.advertising {
    max-width: 1600px;
    max-height: 500px;
}

.adv__img {
    display: flex;
    align-content: center;
    justify-content: center;
}
