* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 220px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgb(234, 250, 255), rgb(0, 59, 154));
}

.logotype {
    display: flex;
    height: 100px;
    margin-left: 50px;
}

.burger {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}
